<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobio.analytics">

    <application>
        <service
            android:name=".client.service.TerminateService"
            android:stopWithTask="false" />
        <service
            android:name=".client.service.NotificationService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".client.receiver.NotificationDismissedReceiver"
            android:exported="false" />
    </application>

</manifest>