<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobio.analytics">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>

        <activity
            android:launchMode="singleInstance"
            android:name=".client.activity.PopupBuilderActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".client.activity.TransparentDeeplinkHandleActivity"
            android:exported="true">

        </activity>

        <service
            android:name=".client.service.ClickNotificationService"
            android:exported="false" />
        <service
            android:exported="false"
            android:name=".client.service.TerminateService"
            android:stopWithTask="false" />

        <receiver
            android:name=".client.receiver.NotificationDismissedReceiver"
            android:exported="false" />
        <receiver
            android:name=".client.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="ACTION_LAUNCH_NOTI" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".client.receiver.NetworkChangeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>