<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobio.analytics">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application>
        <activity
            android:name=".client.activities.TransparentDeeplinkHandleActivity"
            android:exported="true" />

        <service
            android:name=".client.service.ClickNotificationService"
            android:exported="false"/>
        <service
            android:name=".client.service.TerminateService"
            android:stopWithTask="false" />
        <service
            android:name=".client.service.NotificationService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".client.receiver.NotificationDismissedReceiver"
            android:exported="false" />
        <receiver
            android:name=".client.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="ACTION_LAUNCH_NOTI" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".client.receiver.NetworkChangeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>